.body{
    margin-top: 110px;
    margin-left: 300px;
    margin-bottom: 150px;
    background-color:whitesmoke;
    color: black;
    transition: ease 1s;
    
}

.darkMode{
    background-color: black;
    color: #50D821;
    font-family: 'Montserrat', sans-serif;

}
